/BitcoinAndCryptocurrencyTechnologies/Assignment1/nbproject/private/
/BitcoinAndCryptocurrencyTechnologies/Assignment1/build/
/BitcoinAndCryptocurrencyTechnologies/Assignment2/nbproject/private/
/BitcoinAndCryptocurrencyTechnologies/Assignment2/build/
/BitcoinAndCryptocurrencyTechnologies/Assignment3/nbproject/private/
/BitcoinAndCryptocurrencyTechnologies/Assignment3/build/